::-webkit-scrollbar-button {
    display: block;
    height: 0px;
    border-radius: 0px;
    background-color: #B5842D;
}

::-webkit-scrollbar-button:hover {
    background-color: #B5842D;
}

::-webkit-scrollbar-thumb {
    background-color: #B5842D;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #B5842D;
}

::-webkit-scrollbar-track {
    background-color: #efefef;
}

::-webkit-scrollbar-track:hover {
    background-color: #B5842D;
}

::-webkit-scrollbar {
    width: 2px;
}

h6 {
    margin-top: 8px;
}

.body-bg {
    background: url(../img/bg_web.png) no-repeat 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.bg-projet-primary {
    color: #fff;
    background-color: #B5842D;
    border-color: #B5842D
}

.search-container {
    right: 0px;
}

.space-row-projet {
    margin-top: 15px;
}

.container-projet {
    margin: auto;
    width: 100%;
    max-width: 800px;
}

.info-client-plan {

}

.col-sm p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.col-sm-4 p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.col-sm img {
    margin: 8px auto 8px 18px;
}

p span {
    color: #007bff;
}

.margin-top-projet {
    margin-top: 78px;
}

.card-element {
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    min-height: 80px;
    margin: 4px;
    padding: 4px;
    border-radius: 3px;
}

.nav-link {
    white-space: nowrap;
}

.nav-link i {
    margin-right: 4px;
}

.box-shadow-android {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.box-shadow-android:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.button-float-projet {
    background-color: #2181C8;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 65px;
    max-width: 65px;
    border-radius: 50%;
    bottom: 3%;
    right: 2%;
    font-size: 2em;
    color: white;
    border: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

.day-plan {
    border-radius: 3px 3px 3px 3px;
    font-size: 0.8em;
}

.info-day-plan {
    padding-top: 4px;
    background-color: #2181C8;
    color: #fff;
    text-align: center;
    height: 122px;
    border-radius: 3px 0px 0px 3px;
}

.info-day-plan p {
    padding: -4px;
    margin: -4px;
}

.info-day-plan-week {
    font-size: 1.1em;
}
.info-day-plan-day {
    font-size: 1.8em;
}
.info-day-plan-month {
    font-size: 1.1em;
}
.info-day-plan-nbkcal {
    color: #34ce57;
    font-size: 1.5em;
}
.info-day-plan-kcal {
    font-size: 1.1em;
}
.row-list {
    padding: 0px;
    margin: 0px;
}
.repas {
    padding: 0px;
    margin: 0px;
}
.col-sm-list {
    margin-bottom: 12px;
}

.info-repas {
    background-color: #f2f2f2;
    box-shadow: 0px 2px 2px 0px rgba(148,148,148,0.18);
    margin: 2px;
    height: 117px;
    min-width: 160px;


}

.repas-top-bar {
    padding: 4px 4px 4px 4px;
    background-color: #B5842D;
    color: #fff;!important;
    border-radius: 3px 3px 0px 0px;
}
.repas-top-bar p {


}

.repas-top-bar button {
    color: #fff;
    background: none;
    border: none;
    float: right;
}

.list-repas {
    color: #2181C8;
    margin-left: 3px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 90px;
}

.list-repas ul {
    margin-left: 0px;
    list-style: none;
}

.button-float-projet:hover {
    box-shadow: 0 24px 42px rgba(0, 0, 0, 0.30), 0 25px 22px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.button-float-projet:active {
    box-shadow: 0 24px 42px rgba(0, 0, 0, 0.30), 0 25px 22px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.button-float-projet i:active {
    transform: rotate(180deg);
}

.button-float-projet:default {
    box-shadow: 0 24px 42px rgba(0, 0, 0, 0.30), 0 25px 22px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.nav-item a {
    margin-right: 12px;

}

.dropdown-menu {
    background: none;
    border: none;
    text-align: right;
    width: 400px;
}

.bubble-button {
    background-color: #2181C8;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 2em;
    color: white;
    border: 0;
    padding: 0px;
    font-size: 1em;
    text-align: center;
    margin: 0 8% 0 0;
}

.bubble-button img {
    padding: 0px;
    width: auto;
    margin: auto;
    height: 16px;
}

.bubble-p {
    display: inline-block;
    width: fit-content;
    color: #fff;
    background-color: #1d2124;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border-radius: 13px;
    margin: 2px 12px auto auto;
    padding: 4px 6px 4px 6px;
}

@media (max-width: 991px) {
    .nav-link span {
        display: block;
    }
    .card-element {
        max-width: 100%;
    }

    .container {
        text-align: center;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// Large devices (desktops, 1199px and up)*/
@media (max-width: 1199px) {
    .nav-link span {
        display: none;
    }
    .info-repas {
        background-color: #f2f2f2;
        box-shadow: 0px 2px 2px 0px rgba(148,148,148,0.18);
        margin: 2px;
        height: 117px;
        min-width: 220px;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}











